{% extends "base.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block main %}
        <p class="text-center"><a class="btn btn-success mt-5 mb-5" href="{{ path('profil_edit') }}" role="button">Modifier mon profil</a></p>
{% endblock %}